In [1]:
pip install lxml

Requirement already satisfied: lxml in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (4.5.2)
Note: you may need to restart the kernel to use updated packages.

**Segmenting and Clustering Neighborhoods in Toronto**

Importing pandas and requests libraries.

In [2]:
import pandas as pd
import requests

Getting the HTML of wikipedia page.

In [3]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
wiki_data = requests.get(url)

reading pages with read_html file and creating data frame. Removing Not Assigned Borough columns.

In [4]:
raw_df = pd.read_html(wiki_data.content)[0]
df = raw_df[raw_df.Borough != 'Not assigned']
df.head()

  Postal Code           Borough                                Neighbourhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

Finding any not assigned cells for Neighbourhood

In [5]:
df.loc[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

OPTINAL: if there is any not assigned cells the

In [6]:

df.Neighbourhood.replace('Not assigned',df.Borough,inplace=True)
df.head(10)

/home/jupyterlab/conda/envs/python/lib/python3.6/site-packages/pandas/core/generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

   Postal Code           Borough                                Neighbourhood
2          M3A        North York                                    Parkwoods
3          M4A        North York                             Victoria Village
4          M5A  Downtown Toronto                    Regent Park, Harbourfront
5          M6A        North York             Lawrence Manor, Lawrence Heights
6          M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
8          M9A         Etobicoke      Islington Avenue, Humber Valley Village
9          M1B       Scarborough                               Malvern, Rouge
11         M3B        North York                                    Don Mills
12         M4B         East York              Parkview Hill, Woodbine Gardens
13         M5B  Downtown Toronto                     Garden District, Ryerson

In [7]:
df.shape

(103, 3)

Grouping Neighbourhoods with the same Postcode

In [28]:
df_tor = df.groupby(['Postal Code', 'Borough'])['Neighbourhood'].apply(lambda x: ', '.join(x))
df_tor = df_tor.reset_index()
df_tor.head()

  Postal Code      Borough                           Neighbourhood
0         M1B  Scarborough                          Malvern, Rouge
1         M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2         M1E  Scarborough       Guildwood, Morningside, West Hill
3         M1G  Scarborough                                  Woburn
4         M1H  Scarborough                               Cedarbrae

Getting the latitude and the longitude of each neighborhood. Reading the csv filr with read_csv.

In [29]:
url = 'http://cocl.us/Geospatial_data'
df_geo=pd.read_csv(url)
df_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [30]:
df_geo.shape

(103, 3)

joining new colums of df_geo to the main data.

In [31]:
df_tor = df_tor.join(df_geo.set_index('Postal Code'), on='Postal Code')
df_tor.head

<bound method NDFrame.head of     Postal Code      Borough  \
0           M1B  Scarborough
1           M1C  Scarborough
2           M1E  Scarborough
3           M1G  Scarborough
4           M1H  Scarborough
..          ...          ...
98          M9N         York
99          M9P    Etobicoke
100         M9R    Etobicoke
101         M9V    Etobicoke
102         M9W    Etobicoke

                                         Neighbourhood   Latitude  Longitude
0                                       Malvern, Rouge  43.806686 -79.194353
1               Rouge Hill, Port Union, Highland Creek  43.784535 -79.160497
2                    Guildwood, Morningside, West Hill  43.763573 -79.188711
3                                               Woburn  43.770992 -79.216917
4                                            Cedarbrae  43.773136 -79.239476
..                                                 ...        ...        ...
98                                              Weston  43.706876 -79.518188
99                                           Westmount  43.696319 -79.532242
100  Kingsview Village, St. Phillips, Martin Grove ...  43.688905 -79.554724
101  South Steeles, Silverstone, Humbergate, Jamest...  43.739416 -79.588437
102                Northwest, West Humber - Clairville  43.706748 -79.594054

[103 rows x 5 columns]>

In [32]:
df_tor

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476
...,...,...,...,...,...
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village, St. Phillips, Martin Grove ...",43.688905,-79.554724
101,M9V,Etobicoke,"South Steeles, Silverstone, Humbergate, Jamest...",43.739416,-79.588437
102,M9W,Etobicoke,"Northwest, West Humber - Clairville",43.706748,-79.594054